    <script>
    var $form = {{ form_json }};
    </script>

    <div class="container">
      <div class="starter-template">
        <h1>Explore</h1>
        <p class="lead">
        View raw data already loaded
        </p>
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <form class="form-inline form-horizontal" id="explore" method="GET">
        <div class="formgroup row">

          <div class="col-md-2">
            <fieldset class="form-group">
                <label for="channel">Channel</label>
                <select class="form-control" id="channel" name="channel" style="width: 8em;" size=3 onchange="chChange()">
                {% for channel in channels -%}
                {% if form.channel == channel -%}
                <option value="{{ channel }}" selected>{{ channel }}</option>
                {% else -%}
                <option value="{{ channel }}">{{ channel }}</option>
                {% endif -%}
                {% endfor -%}
                </select>
            </fieldset>
          </div><!-- /col -->

          <div class="col-md-2">
            <fieldset class="form-group">
                <label for="network">Network</label>
                <select class="form-control" id="network" name=network style="width: 8em;" size=3 onchange="netChange()">
                </select>
            </fieldset>
          </div><!-- /col -->

          <div class="col-md-2">
            <fieldset class="form-group">
                <label for="station">Station</label>
                <select class="form-control" id="station" name="station" style="width: 8em;" size=3>
                </select>
            </fieldset>
          </div><!-- /col -->

          <div class="col-md-2" style="text-align: right">
            <fieldset class="form-group">
              <label for="startD">Start Date</label>
              <input type="text" id="startD" name="startD" placeholder="YYYY/MM/DD" value="{{ form.startD }}" style="width:8em;"><br>
              <label for="endD">End Date</label>
              <input type="text" id="endD" name="endD" placeholder="YYYY/MM/DD" value="{{ form.endD }}" style="width:8em;">
            </fieldset>
            <a href="#" id="CopyDate">Copy Date</a>
            <script>
            $('#CopyDate').click(function(e){
              e.preventDefault();
              $('#endD').val($('#startD').val())
            })
            </script>
          </div><!-- /col -->

          <div class="col-md-2" style="text-align: right">
            <fieldset class="form-group">
              <label for="startT">Start Time</label>
              <input type="text" id="startT" name="startT" placeholder="HH:MM:SS" style="width:8em;" value="{{ form.startT }}"><br>
              <label for="endT">End Time</label>
              <input type="text" id="endT" name="endT" placeholder="HH:MM:SS" value="{{ form.endT }}" style="width:8em;">
            </fieldset>
            <a href="#" id="CopyTime">Copy Time</a>
            <script>
            $('#CopyTime').click(function(e){
              e.preventDefault();
              $('#endT').val($('#startT').val())
            })
            </script>
          </div><!-- /col -->

          <div class="col-md-2">
            <fieldset class="form-group">
              <input type="submit" id="submit" value="Submit" style="width: 20em;">
            </fieldset>
          </div><!-- /col -->

        </div><!-- /row -->
      </form>
    </div><!-- /starter-template -->

    {% if error -%}
    <div class="container">
      <pre style="border-color: #FF0000">{{ error }}</pre>
    </div>
    {% endif %}

    {% if content -%}
    <div>
      <div class="starter-template">
        {{ content }}
      </div>
    </div>
    {% endif %}
  </div><!-- /container -->

<script>
var $net_el = $('#network');
var $sta_el = $('#station');
function chChange(){
  var $ch = $('#channel').val();
  var $net = $('#network').val();
  if ($net == null) {
    if ($form['network'] != "") {
      $net = $form['network'];
    }
  }
  $.ajax({url: "/ajax/list_params?metric=" + $ch, success: function(result){
      $net_el.empty();
      $.each(result, function(k, v){
        var $new_element = $("<option></option>").attr("value", k).text(k)
        if ($net == k) {
          $new_element.attr("selected", "selected");
        }
        $net_el.append($new_element);
      });
    }
  });
}

function netChange(){
  var $ch = $('#channel').val();
  var $net = $('#network').val();
  var $sta = $('#station').val();
  if ($sta == null) {
    if ($form['network'] != "") {
      $sta = $form['station'];
    };
  };
  if ($net == null) {
    if ($form['network'] != "") {
      $net = $form['network'];
    };
  };
  $.ajax({url: "/ajax/list_params?metric=" + $ch, success: function(result){
      $sta_el.empty();
      $.each(result[$net], function(i, v){
        var $new_element = $("<option></option>").attr("value", v).text(v)
        if ($sta == v) {
          $new_element.attr("selected", "selected");
        }
        $sta_el.append($new_element);
      });
    }
  });
}

chChange();
netChange();
</script>
